*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Andika New Basic", sans-serif;
  font-size: 20px;
  color: rgb(233, 218, 228);
  background-image: url("./image/pexels-hristo-fidanov-1252890.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
button {
  font-family: "Andika New Basic", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  border-radius: 8px;
}
.note-text {
  background-color: rgb(240, 205, 211);
  font-family: inherit;
}
.note-text.edit {
  background-color: rgb(252, 252, 253);
}
.main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.container {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.note {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.create {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px;
  border: none;
  background: rgb(51, 189, 92);
  transition: background 0.3s ease-in;
}
.create:hover {
  background: rgb(43, 172, 81);
}
.panel {
  padding: 10px;
}
.btn {
  padding: 10px 20px;
  border: none;
  font-weight: 700;
  margin: 5px;
}
.btn.delete {
  background: rgb(223, 37, 37);
  transition: background 0.3s ease-in;
}

.btn.delete:hover {
  background: rgb(173, 17, 17);
}

.btn.edit {
  background: rgb(70, 44, 219);
  transition: background 0.3s ease-in;
}
.btn.edit:hover {
  background: rgb(50, 25, 189);
}
